<div class="row topSpace"></div>
<div class="row topSpace">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 gray">
    <div class="habCont">
      <h3 id="" data-aos="fade">{{this.title}}</h3>
    </div>
  </div>
  <div class="col-md-3 gray"></div>
</div>

<div class="row bottomSpace">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-7 pink">
      <p data-aos="fade" style="color: black">{{particle}}</p>
  </div>
  <div class="col-md-3">
  </div>
</div>

<script type="text/javascript">
  AOS.init();
</script>
