
<div data-aos="fade" class="row topSpace">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 gray">
    <div class="habCont">
      <h3 id="" data-aos="fade">{{this.title}}</h3>
    </div>
  </div>
  <div class="col-md-3 gray"></div>
</div>

<div data-aos="fade" class="row bottomSpace">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-7 pink">
      <h3 style="color: black">Zone 1 Humidity: {{this.current}}%</h3>
      
        
          <svg class="lineGraph" height="180">
            <polyline class="path" 
              
                  
                  points="
                    {{#each sensor_1}}
                      {{this.data}}
                    {{/each}}
                  "
                  
              
            style="fill:none;stroke:black;stroke-width:4" />
          </svg>
        


  </div>
  <div class="col-md-3">
  </div>
</div>


<script type="text/javascript">
  AOS.init();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169661693-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169661693-1');
</script>
