<div class="row" id=""></div>
<div id="content">
  <div id="planes">

  <div class="row topSpace">
    <div class="col-md-2 gray"></div>
    <div class="col-12 col-md-7">
      <div class="habCont">
        <h3 data-aos="fade">{{this.title}}</h3>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>





    <div class="row" data-aos="fade">
        <div class="col-md-2"></div>
            <div class="col-12 col-md-8 pink">
                <p data-aos="fade-up" style="color: black" data-aos-id="aboutPicOne" id="aboutCopyOne"></p>
            </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" >
        <div class="col-md-2"></div>
            <div class="col-12 col-md-8 pink">
                <p data-aos="fade-up" style="color: black"  id="aboutCopyTwo"></p>
            </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" >
        <div class="col-md-2"></div>
            <div class="col-12 col-md-8 pink">
                <p data-aos="fade-up" style="color: black"  id="aboutCopyThree"></p>
            </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" >
        <div class="col-md-2"></div>
            <div class="col-12 col-md-8 pink">
                <p data-aos="fade-up" style="color: black"  id="aboutCopyFour"></p>
            </div>
        <div class="col-md-2"></div>
    </div>


      <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-7">  
          
            <div class="landscape-wrapper" data-aos="fade-up">
     
            </div>
      
        </div>
        <div class="col-md-3"></div>
      </div>


  </div>
</div>


<script src="/js/curtains.min.js"></script>
<script src="/js/post.processing.displacement.setup.js" ></script>
<script src="/js/about.js"></script>
<script src="/js/aos.js"></script>
<script type="text/javascript">
  AOS.init({
    once:true
  });
</script>

