{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>


 --}}
<div class="topSpace">


      <div class="row " style="position: relative;
    padding-top: 7vw!important;">
        <div class="col-md-2"></div>
          <div class="col-12 col-md-8">
            <h1 class="" style="color: white; font-size: 20vw; text-align: center">S17</h1>
          </div>
          <div class="col-md-2"></div>
      </div>

      <div class="row ">
      	<div class="col-md-2"></div>
      		<div class="col-12 col-md-8">
      			<h1 class="" style="color: white; font-size: 20vw; text-align: center">404</h1>
      		</div>
      	<div class="col-md-2"></div>
      </div>



</div>
<script type="text/javascript">
	AOS.init();

</script>
		
				<!-- END page-specific content -->
								

        </div>
            <div class="header nav" id="myHeader">
                <a title="Home Button" href="/"><div class="fasLogo"></div></a>
                <ul>
                  <li><a href="javascript:void(0);" title="Open Nav" onclick="openNav()" class="burger">☰</a></li>
                </ul>
            </div>
            <!-- open/close -->
            <!-- The overlay -->
            <div id="myNav" class="overlay">

              <!-- Button to close the overlay navigation -->
              

              <!-- Overlay content -->
              <div class="overlay-content">
                <a title="Nav Inhabitants" href="/Inhabitants"><h3>Inhabitants</h3></a>
                <a title="Nav Formation" href="/formation"><h3>Formation</h3></a>
                <a title="Nav Interactive" href="/interactive"><h3>Interactive</h3></a>
                <a title="Nav About" href="/about"><h3>About</h3></a>
                <a title="Nav Subscribe" href="/emails/join"><h3>Subscribe</h3></a>
                
              </div>
              <a href="javascript:void(0);" class="closebtn" title="Close Nav" onclick="closeNav()">×</a>
            </div>
            <script type="text/javascript">

                function openNav() {
                  document.getElementById("myNav").style.display = "block";
                  console.log("open");
                }

                /* Close */
                function closeNav() {
                  document.getElementById("myNav").style.display = "none";
                  console.log("close");
                }

            </script>
        
    
</div>






