<div class="row" id="canvas"></div>
<div id="content">
  <div id="planes">

    <div class="row topSpace">
      <div class="col-md-2 gray"></div>
      <div class="col-12 col-md-7 gray">
        <div class="habCont">
          <h3 id="" data-aos="fade">{{this.title}}</h3>
        </div>
      </div>
      <div class="col-md-3 gray"></div>
    </div>

    <div class="row gray" data-aos="fade" data-aos-id="formPicOne">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7 pink">
          <p data-aos="fade" style="color: black" id="formCopyOne"></p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <!-- before -->

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7">
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgFormOne" crossorigin="anonymous" src="../images/stucco_3_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>
      <div class="col-md-3"></div>
    </div>


    <div class="row" data-aos="fade" data-aos-id="formPicTwo">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7">
          <h1 data-aos="fade-up" class="pink hOnePublic" style="color: black">Before Regeneration</h1>
          <p data-aos="fade-up" class="gray" style="color: white" id="formCopyTwo"></p> 
      </div>
      <div class="col-md-2"></div>
    </div>

{{!--     <div class="row">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7">
          <p data-aos="fade" class="pink" style="color: black" id=""><strong>Present Regeneration</strong></p>
          <p data-aos="fade" class="pink" style="color: black" id="">After three years of regenerating the native flora, much of the intended goal is still a work in progress.</p>
      </div>
      <div class="col-md-3"></div>
    </div> --}}

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7">  
          <div class="landscape-wrapper">
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgFormTwo" crossorigin="anonymous" src="../images/stucco_4_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row bottomSpace" data-aos="fade" data-aos-id="formPicThree">
      <div class="col-md-3"></div>
      <div class="col-12 col-md-6">
          <h1 data-aos="fade-up" class="pink hOnePublic" style="color: black" id="">Present Regeneration</h1>
          <p data-aos="fade-up" class="gray" style="color: white" id="formCopyThree"></p> 
      </div>
      <div class="col-md-4"></div>
    </div>


  </div>
</div>
<script id="multiple-planes-vs" type="x-shader/x-vertex">
    #ifdef GL_ES
    precision mediump float;
    #endif

    // default mandatory variables
    attribute vec3 aVertexPosition;
    attribute vec2 aTextureCoord;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

    uniform mat4 planeTextureMatrix;
    varying vec2 vTextureMatrix;
    // custom variables
    varying vec3 vVertexPosition;
    varying vec2 vTextureMatrixCoord;

    uniform float uTime;

    uniform float uPlaneDeformation;

    void main() {

        vec3 vertexPosition = aVertexPosition;

        // float distanceFromCenter = distance(vec2(vertexPosition.x, vertexPosition.y), vec2(0.5, vertexPosition.x));
        // vertexPosition.z += 1.5 * cos(5.0 * (distanceFromCenter - (uTime / 100.0)));

        //cool effect on scroll
        //vertexPosition.y += sin(((vertexPosition.x + 1.0) / 2.0) * 3.141592) * (sin(uPlaneDeformation / 90.0));

        gl_Position = uPMatrix * uMVMatrix * vec4(vertexPosition, 1.0);

        // varyings
        vVertexPosition = vertexPosition;
        vTextureMatrixCoord = (planeTextureMatrix * vec4(aTextureCoord, 1.0, 1.0)).xy;
    }

</script>
<script id="multiple-planes-fs" type="x-shader/x-fragment">
    #ifdef GL_ES
    precision mediump float;
    #endif

    varying vec3 vVertexPosition;
    varying vec2 vTextureCoord;
    varying vec2 vTextureMatrixCoord;
    varying vec2 vTextureMatrix;

    uniform sampler2D uSampler0;
    uniform sampler2D planeTexture;
    uniform float uPlaneDeformation;

    void main( void ) {
        // slides transitions
        //vec4 finalColor = texture2D( uSampler0, vTextureMatrix);

        vec4 finalColor = texture2D(planeTexture, vTextureMatrixCoord);

        gl_FragColor = finalColor;
    }
</script>


<script id="displacement-fs" type="x-shader/x-fragment">
    #ifdef GL_ES
    precision mediump float;
    #endif

    varying vec3 vVertexPosition;
    varying vec2 vTextureCoord;

    uniform sampler2D renderTexture;
    uniform sampler2D displacementTexture;

    uniform float uDisplacement;

    void main( void ) {
        vec2 textureCoords = vTextureCoord;
        vec4 displacement = texture2D(displacementTexture, textureCoords);

        // displace along Y axis
        textureCoords.y += (sin(displacement.r) / 5.0) * uDisplacement;

        vec4 finalColor = texture2D(renderTexture, textureCoords);
        gl_FragColor = finalColor;
    }
</script>
<script src="/js/curtains.min.js"></script>
<script src="/js/post.processing.displacement.setup.js" ></script>
<script src="/js/formation.js"></script>
<script src="/js/aos.js"></script>
<script type="text/javascript">
  AOS.init();
</script>