
<div class="row imageGrid" style="background: url('http://rudes.de/s17/stucco_2_1024.jpg') repeat; background-size: 50%;">
	<div class="col-2 col-md-4"></div>
	<h1 class="col-8 col-md-4">{{this.title}}</h1>
	<div class="col-2 col-md-4"></div>

</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="text/javascript">
	AOS.init();
</script>