<div class="jumbotron-fluid pink">

  <div class="row pink">
    <div class="col">
      <div class="logoBack">
        <h1 class="titleHead">s17</h1>
      </div>


      <video autoplay muted loop playsinline poster="">
        <source src="http://rudes.de/videos/loop2.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>


<div class="storyCont row pink"> 
  <div class="col-md-1"></div>
  <div class="col-12 col-md-3 pink stuccoThree">
    <div class="storyCopy padCopy">
      <h3 data-aos="fade">The story</h3>
    </div>
  </div>
  <div class="col-12 col-md-8 pink">
    <div class="padCopy">
      <p class="" data-aos="fade"><strong>Environmental degradation is prominent. Government prohibits safe havens. Missionaries are targets of oppression. s17 a sancturary to all who resist. Our mission is to sustain and protect species from existential degradation.</strong></p>
    </div>
  </div>

</div>


<div class="row">


  <div class="col-6 col-md-3 gray" id="hopperImg">
  <img class="img-fluid" src="http://rudes.de/s17/hopper_1_1024.jpg" id="insectOne" class="float-left">
  </div>

  <div class="col-6 col-md-3 stuccoFour" id="ourBtn">
    <div class="ourCont padCopy">
      <h3 id="ourH3" data-aos="fade">Our</h3>
    </div>
  </div>

  <div class="col-6 col-md-3 gray" id="spiderImg">
  <img class="img-fluid" src="http://rudes.de/s17/shrooms_1_1024.jpg" class="float-left">
  </div>

  <div class="col-6 col-md-3 gray" id="ladyImg">
  <img class="img-fluid" src="http://rudes.de/s17/shell_1_1024.jpg" class="float-left">
  </div>

  <div class="col-6 col-md-3 gray" id="inhabitBtn">
    <div class="habCont padCopy">
      <h3 id="inHabitH3" data-aos="fade">inhabitants&#8594;</h3>
    </div>
  </div>

  <div class="col-6 col-md-3 gray" id="catImg">
    <img class="img-fluid" src="http://rudes.de/s17/catepillar_1_1024.jpg" id="insectTwo" class="float-left" >
  </div>
</div>

<div class="row">
  <div class="col-md-3 gray"></div>
  <div class="col-12 col-md-6 bluGray">
    <div class="padCopy">
      <p data-aos="fade" style="color: white"><strong>A diverse array of species includes plants, insects, raptors, and felines. All species co-exist to preserve a delicate balance of a diminishing eco-system.</strong></p>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>



{{!-- <div class="row">

  <div class="col-12 col-md-8 stuccoThree">
    <div class="copyCont padCopy">
      <h3 data-aos="fade">The mission</h3>
    </div>
  </div>

  <div class="col-md-4 pink">
    <div class="padCopy">
      <p class="" data-aos="fade"><strong>Sustain and protect species from existential degradation.</strong></p>
    </div>
  </div>
</div> --}}

<div class="row">
  <div class="col col-md-3 gray" >
  </div>
  <div class="col-12 col-md-6 bluGray" id="initiateBtn">
    <div class="initCont padCopy">
      <h3 class="subCopy" id="subCopyId" data-aos="fade">Subscribe&#8594;</h3>
    </div>
  </div>
  <div class="col col-md-3 gray" >
  </div>
</div>

<div class="row">
  <div class="col gray" ></div>
  <div class="col-12 col-md-12 col-lg-8 col-xl-10 gray">
    <div class="padCopy"><strong><p style="color: white" data-aos="fade">
      Join our mailing list to get info on events and workshops to better resist against goverment eco-oppression and sustain our mission in better perserving our ecology.</p></strong>
    </div>
  </div>
  <div class="col gray" ></div>
</div>

<div class="row">
  <div class="col col-xl-3 bluGray"></div>
  <div class="col-6 col-md-6 col-lg-3 col-xl-3 gray">
    <img class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>
  <div class="col-6 col-md-6 col-lg-3 col-xl-3 gray">
    <img class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-xl-3 gray stuccoFour"></div>
</div>

<div class="row">
  <div class="col-12 pink">
    <div class="padCopy">
      <p data-aos="fade"><strong>We do not use third party website generators, no SEO(Search engine optimization), no analytics, no cookies, no meta tagging, no social media embedding, and no third party emailing services. We host and develop all our online apps here in s17. Our private servers are stored in temperature controlled environment and use carbon offsettting to sustain our power supply.</strong></p>
    </div>
  </div>

</div>

<footer class="row stuccoOne">
  <div class="col-12">
    <div class="footCopy padCopy">
      <h3 class="">s17 ©MMXIX</h3>
      <h3 class=""></h3>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>



