<div class="row" id="canvas"></div>
<div id="content">
  <div id="planes">


    <div class="jumbotron-fluid pink">

      <div class="row pink">
        <div class="col">
          <div class="logoBack">
            <h1 class="titleHead">s17</h1>
          </div>
          <video autoplay muted loop playsinline poster="">
            {{!-- <source crossorigin="anonymous" src="http://rudes.de/videos/loop2.mp4" type="video/mp4" /> --}}
          </video>
        </div>
      </div>
    </div>

    <div class="row pink">
      <div class="col-md-6"></div>
      <div class="col-12 col-md-3 stuccoThree">
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="storyCont row pink"> 
      <div class="col-md-2"></div>
      <div class="col-12 col-md-8 pink">
        <div class="padCopy">
    {{!--       <p class="" data-aos="fade">Located in an area.</p> --}}
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="topSpace row" id="heightDiv">
      <div class="col-md-2"></div>

      <div class="col-12 col-md-7">  
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgIndexOne" crossorigin="anonymous" src="../images/stucco_2_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>

      <div class="col col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-12 col-md-6">
        <div class="habCont">
          <h3 id="" data-aos="fade">Inhabitants</h3>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row gray bottomSpace">
      <div class="col-md-3"></div>
      <div class="col-12 col-md-6 gray">
          <p class="pink" data-aos="fade" style="color: white">A diverse array of species includes plants, insects, raptors, and felines. All species co-exist to preserve a delicate balance of a diminishing eco-system.</p>
          <p data-aos="fade" style="color: white"><strong id="inHabitBtn" class="pink">Explore more &#8594;</strong></p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row topSpace">
      <div class="col col-md-2"></div>
      <div class="col-12 col-md-5">
        <div class="habCont">
          <h3 id="" data-aos="fade">Formation</h3>
        </div>
      </div>
      <div class="col col-md-5"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-12 col-md-7">
          <p class="bluGray" data-aos="fade" style="color: white">From purchase of the parcel to the current status of the reclaimation. The formation of the sanctuary was strenous but rewarding.</p>
          <p data-aos="fade" style="color: white"><strong id="formBtn" class="bluGray">Explore more &#8594;</strong></p>
        </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col col-md-2"></div>

      <div class="col-12 col-md-7">  
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgRot" crossorigin="anonymous" src="../images/stucco_2_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>

      <div class="col col-md-3"></div>
    </div>


    <div class="bottomSpace"></div>

    <div class="row topSpace bluGray">
      <div class="col col-md-3" >
      </div>
      <div class="col-12 col-md-6">
        <div class="habCont">
          <h3 class="gray" style="color: white;" data-aos="fade">Interactive</h3>
        </div>
      </div>
      <div class="col col-md-3" >
      </div>
    </div>

    <div class="row bottomSpace bluGray">
      <div class="col col-md-3"></div>
      <div class="col-12 col-md-6">
        <div><p class="gray" style="color: white" data-aos="fade">
          A variety of tech and inovation is used to better understand the details of the garden, history and present state.</p>
          <p data-aos="fade" style="color: white"><strong id="interABtn" class="gray">Explore more &#8594;</strong></p>
        </div>
      </div>
      <div class="col col-md-3"></div>
    </div>

  </div>
</div>
<script type="text/javascript">
  //buttons on homepage
  var subBtn = document.getElementById("subscribeBtn");
  var inHabitBtn = document.getElementById("inHabitBtn");
  var formBtn = document.getElementById("formBtn");
  var interABtn = document.getElementById("interABtn");
  var header = document.getElementById("myHeader");
  var imgIndexOne = document.getElementById("imgIndexOne");
  var heightDiv = document.getElementById("heightDiv");
  //var imgIndexOneY = imgIndexOne.pageYOffset;
  //
 // document.addEventListener("DOMContentLoaded", function() {
    //window.onscroll = function(){
      //console.log(imgIndexOneY);
      // function myFunction() {
      //   console.log("hello")
      // }
      //if(window.scrollY >= 200) { 
          
          //imgRot.crossOrigin = "anonymous";
          //imgIndexOne.src = "../images/catepillar_2_1024.jpg";
          
      //} else {
          //imgRot.crossOrigin = "anonymous";
          //imgIndexOne.src = "../images/stucco_2_1024.jpg";

      //}
    //}
  //})

// Array of images to swap between
//var images = [];

// Add 200 items to array
// for (i = 0; i < 200; i++) {
//     images.push('http://placekitten.com/' + (100 + i) + '/' + (100 + i));
// }

// var totalImages = images.length;

// var pageHeight = $(document).height() - $(window).height();

// // Work out how often we should change image (i.e. how far we scroll between changes)
// var scrollInterval = Math.floor(pageHeight / totalImages);

// $(document).scroll(function () {
//     // Which one should we show at this scroll point?
//     i = Math.floor($(this).scrollTop() / scrollInterval);
//     // Show the corresponding image from the array
//     $('img').attr('src', images[i]);
//     $('b').text('Frame: ' + i);
// });

  var images = ['sage_1_1024.jpg', 'hopper_3_1024.jpg', 'cleves_1_1024.jpg', 'catepillar_1_1024.jpg', 'ladybug_1_1024.jpg', 'ladybutterfly_2_1024.jpg', 'mallow_1_1024.jpg', 'shrooms_2_1024.jpg', 'poppy_1_1024.jpg'];

  var totalImages = images.length;
  var i = 0;
  var pageHeight = document.body.clientHeight - window.innerHeight;
  var scrollInterval = Math.floor(pageHeight / totalImages);

  window.onload = function()
  {
     window.onscroll = function()
     {
        //if(window.pageYOffset % 2 == 0 ) {
          
          // i++;
          // if(i > 8){
          //   i = 0;
          // }
          
          var i = Math.floor(window.pageYOffset / scrollInterval)
          imgIndexOne.src = "../images/" + images[i];
          console.log(i);
        // }

        // if(window.pageYOffset % 3 == 0 ) {
        //   imgIndexOne.src = "../images/sage_1_1024.jpg";
        //   console.log(window.pageYOffset);
        // }
     }
  }



  // inhabitants button mouse events
  function handleInhabits(evt) {
      evt.preventDefault();
      window.open("/inhabitants", '_self');
  }

  function overInhabits(evt) {
      evt.preventDefault();
  }

  function outInhabits(evt) {
      evt.preventDefault();
  }

  inHabitBtn.addEventListener('touchstart', handleInhabits);
  inHabitBtn.addEventListener('click', handleInhabits);
  inHabitBtn.addEventListener('mouseover', overInhabits);
  inHabitBtn.addEventListener('mouseout', outInhabits);

  // formation button mouse events
  function handleForm(evt) {
      console.log("hello")
      evt.preventDefault();
      window.open("/formation", '_self');
  }

  function overForm(evt) {
      evt.preventDefault();
  }

  function outForm(evt) {
      evt.preventDefault();
  }

  formBtn.addEventListener('touchstart', handleForm);
  formBtn.addEventListener('click', handleForm);         
  formBtn.addEventListener('mouseover', overForm);
  formBtn.addEventListener('mouseout', outForm);

  //interactive button mouse events
  function handleInterA(evt) {
      evt.preventDefault();
      window.open("/interactive", '_self');
  }

  function overInterA(evt) {
      evt.preventDefault();
  }

  function outInterA(evt) {
      evt.preventDefault();
  }

  interABtn.addEventListener('touchstart', handleInterA);
  interABtn.addEventListener('click', handleInterA);         
  interABtn.addEventListener('mouseover', overInterA);
  interABtn.addEventListener('mouseout', outInterA);
</script>
