<div class="jumbotron-fluid pink">

  <div class="row pink">
    <div class="col">
      <div class="logoBack">
        <h1 class="titleHead">s17</h1>
      </div>


      <video autoplay muted loop playsinline poster="">
        <source src="http://rudes.de/videos/loop2.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div class="row pink">
  <div class="col-md-6"></div>
  <div class="col-12 col-md-3 stuccoThree">
  </div>
  <div class="col-md-3"></div>
</div>

<div class="storyCont row pink"> 
  <div class="col-md-2"></div>
  <div class="col-12 col-md-8 pink">
    <div class="padCopy">
      <p class="" data-aos="fade">Located in an area where over the decades was purposely isolated from the rest of Los Angeles.</p>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>


<div class="topSpace gray row">
  <div class="col-md-2 bluGray"></div>
  <div class="col-6 col-md-3 gray stuccoThree" id="hopperImg">
    <img class="img-fluid" data-aos="fade" data-aos-delay="500" src="http://rudes.de/s17/hopper_1_1024.jpg" id="insectOne" class="float-left">
  </div>
  <div class="col col-md-1 pink"></div>
  <div class="col-6 col-md-3 gray stuccoFour" id="catImg">
    <img class="img-fluid" data-aos="fade" data-aos-delay="500" src="http://rudes.de/s17/catepillar_1_1024.jpg" id="insectTwo" class="float-left" >
  </div>
  <div class="col col-md-3"></div>
</div>


<div class="row">
  <div class="col-md-3 gray"></div>
  <div class="col-12 col-md-6 gray">
    <div class="habCont">
      <h3 id="" data-aos="fade">Inhabitants</h3>
    </div>
  </div>
  <div class="col-md-3 gray"></div>
</div>

<div class="row gray bottomSpace">
  <div class="col-md-3"></div>
  <div class="col-12 col-md-6 gray">

      <p data-aos="fade" style="color: white">A diverse array of species includes plants, insects, raptors, and felines. All species co-exist to preserve a delicate balance of a diminishing eco-system.</p>
      <p data-aos="fade" style="color: white" id="inHabitBtn"><strong>Explore more &#8594;</strong></p>

  </div>
  <div class="col-md-3"></div>
</div>


<div class="row bluGray topSpace">
  <div class="col col-md-2"></div>
  <div class="col-12 col-md-5">
    <div class="habCont">
      <h3 id="" data-aos="fade">Formation</h3>
    </div>
  </div>
  <div class="col col-md-5"></div>
</div>

<div class="row bluGray">
  <div class="col-md-2"></div>
    <div class="col-12 col-md-7 bluGray">

      <p data-aos="fade" style="color: white">From purchase of the parcel to the current status of the reclaimation. The formation of the sanctuary was strenous but rewarding.</p>
      <p data-aos="fade" style="color: white" id="formBtn"><strong>Explore more &#8594;</strong></p>

    </div>
  <div class="col-md-3"></div>
</div>



<div class="row bottomSpace">
  <div class="col col-md-2 bluGray"></div>
  <div class="col-6 col-md-3 stuccoOne" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>
  <div class="col col-md-2"></div>
  <div class="col-6 col-md-3 stuccoThree" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-md-2 gray stuccoFour"></div>
</div>


<div class="row topSpace pink">
  <div class="col col-md-3" >
  </div>
  <div class="col-12 col-md-6 bluGray">
    <div class="initCont">
      <h3 class="subCopy" data-aos="fade">Interactive</h3>
    </div>
  </div>
  <div class="col col-md-3 gray" >
  </div>
</div>

<div class="row bottomSpace pink">
  <div class="col" ></div>
  <div class="col-12 col-md-12 col-lg-8 col-xl-10">
    <div class="pink"><p style="color: black" data-aos="fade">
      A variety of tech and inovation is used to better understand the details of the garden, history and present state.</p>
      <p data-aos="fade" style="color: black" id="interABtn"><strong>Explore more &#8594;</strong></p>
    </div>
  </div>
  <div class="col" ></div>
</div>


<footer class="row stuccoOne topSpace">
  <div class="col-12">
    <div class="footCopy">
      <h3 class="">s17 ©MMXIX</h3>
      <h3 class=""></h3>
    </div>
  </div>
</footer>


{{!-- <div class="row">
  <div class="col-12 pink">
    <div class="padCopy">
      <p data-aos="fade"><strong>We do not use third party website generators, no SEO(Search engine optimization), no analytics, no cookies, no meta tagging, no social media embedding, and no third party emailing services. We host and develop all our online apps here in s17. Our private servers are stored in temperature controlled environment and use carbon offsettting to sustain our power supply.</strong></p>
    </div>
  </div>
</div> --}}


{{!--     <iframe width="100%" scrolling="no" allowfullscreen
      src="http://rudes.de/vr/index.html?image=examples/pano/s17_BackYard_2048.jpg&is_stereo=false&preview=examples/pano/s17_BackYard_2048.jpg">
    </iframe> --}}

