<div>
</div>
<div class="headTop">
  <video autoplay muted loop playsinline poster="">
    <source src="http://rudes.de/videos/loop2.mp4" type="video/mp4" />
  </video>
  <h1 class="titleHead" data-aos="fade-in">S17</h1>
</div>
<div>
  <h3>Background</h3>
  <p>Surrounded by a heavy industrial zone, 8 lane freeway, and a port corridor, this is an isolated island, forgotten by society. Environmental degradation is most prominent, local governments fail to regulate, and inhabitants expire before expected lifespans. In S17, many species of plants and animals find refuge. </p>
</div>
<div class="menuContainer">
  <div class="qOne"><h4>Are you a </h4></div>
</div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>
  AOS.init();
</script>


