<div class="jumbotron-fluid">

  <div class="logoBack">
    <h1 class="titleHead" data-aos="fade-up">S17</h1>
  </div>


  <video autoplay muted loop playsinline poster="">
    <source src="http://rudes.de/videos/loop2.mp4" type="video/mp4" />
  </video>

</div>


<div class="storyCont row">
  <div class="col">
    <h3 class="">Background</h3>
    <p class="">Surrounded by a heavy-use industrial zone, a full capacity transportation corridor, and air pollution highest in the country, this isolated urban island has been negleted by human society. Environmental degradation is most prominent, humans fail to push for change, and inhabitants expire before expected lifespans. In S17, amoungst all odds, plants and animals find refuge. </p>
  </div>
</div>

<footer class="row">
  <div class="col">
    <h3 class="">S17 ©2019</h3>
    <h3 class="">We dont not track.</h3>
  </div>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>



