
  <form class="form-signin" name="login-form" id="login-form" method="post" action="/users/login">

      <h2 class="form-signin-heading">Sign in</h2>

      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email address" name="email" required />

      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" name="password" required />

    <div class="form-group">
      <input type="checkbox" id="rememberMe" name="rememberMe"  />
      <label for="rememberMe">Remember me</label>
    </div>

    <div class="form-submit">
      <input type="submit" class="btn btn-lg btn-danger btn-block spacer" value="Log in" />
    </div>
      {{#if error}}
      <div style="color:red;">{{error}}</div>
      {{/if}}
      
      <a href="/users/create" class="btn btn-lg btn-danger btn-block">Create an account</a>

  </form>



