<div class="row" id="canvas"></div>
<div id="content">
  <div id="planes">


    <div class="jumbotron-fluid pink">

      <div class="row pink">
        <div class="col">
          <div class="logoBack">
            <h1 class="titleHead">s17</h1>
          </div>
          <video autoplay muted loop playsinline poster="">
            {{!-- <source crossorigin="anonymous" src="http://rudes.de/videos/loop2.mp4" type="video/mp4" /> --}}
          </video>
        </div>
      </div>
    </div>

    <div class="row pink">
      <div class="col-md-6"></div>
      <div class="col-12 col-md-3 stuccoThree">
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="storyCont row pink"> 
      <div class="col-md-2"></div>
      <div class="col-12 col-md-8 pink">
        <div class="padCopy">
    {{!--       <p class="" data-aos="fade">Located in an area.</p> --}}
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="topSpace row" id="heightDiv">
      <div class="col-md-2"></div>

      <div class="col-12 col-md-7">  
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgIndexOne" crossorigin="anonymous" src="../images/stucco_2_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>

      <div class="col col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-12 col-md-6">
        <div class="habCont">
          <h3 id="" data-aos="fade-up">Inhabitants</h3>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row gray bottomSpace">
      <div class="col-md-3"></div>
      <div class="col-12 col-md-6 gray">
          <p class="pink" data-aos="fade-up" style="color: white">A diverse array of species includes plants, insects, raptors, and felines. All species co-exist to preserve a delicate balance of a diminishing eco-system.</p>
          <p data-aos="fade-up" style="color: white"><strong id="inHabitBtn" class="pink">Explore more &#8594;</strong></p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row topSpace">
      <div class="col col-md-2"></div>
      <div class="col-12 col-md-5">
        <div class="habCont">
          <h3 id="" data-aos="fade-up">Formation</h3>
        </div>
      </div>
      <div class="col col-md-5"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-12 col-md-7">
          <p class="bluGray" data-aos="fade-up" style="color: white">From purchase of the parcel to the current status of the reclaimation. The formation of the sanctuary was strenous but rewarding.</p>
          <p data-aos="fade-up" style="color: white"><strong id="formBtn" class="bluGray">Explore more &#8594;</strong></p>
        </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col col-md-2"></div>

      <div class="col-12 col-md-7">  
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgIndexTwo" crossorigin="anonymous" src="../images/stucco_2_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>

      <div class="col col-md-3"></div>
    </div>


    <div class="bottomSpace"></div>

    <div class="row topSpace bluGray">
      <div class="col col-md-3" >
      </div>
      <div class="col-12 col-md-6">
        <div class="habCont">
          <h3 class="gray" style="color: white;" data-aos="fade-up">Interactive</h3>
        </div>
      </div>
      <div class="col col-md-3" >
      </div>
    </div>

    <div class="row bottomSpace bluGray">
      <div class="col col-md-3"></div>
      <div class="col-12 col-md-6">
        <div><p class="gray" style="color: white" data-aos="fade-up">
          A variety of tech and inovation is used to better understand the details of the garden, history and present state.</p>
          <p data-aos="fade-up" style="color: white"><strong id="interABtn" class="gray">Explore more &#8594;</strong></p>
        </div>
      </div>
      <div class="col col-md-3"></div>
    </div>

  </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/curtains.min.js"></script>
<script src="/js/post.processing.displacement.setup.js" ></script>