<div class="row topSpace"></div>
<div class="row topSpace">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-8 gray">
    <div class="habCont">
      <h3 id="" data-aos="fade">{{this.title}}</h3>
    </div>
  </div>
  <div class="col-md-2 gray"></div>
</div>

<!-- plants -->

<div class="row gray bottomSpace">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 pink">
      <p data-aos="fade" style="color: black">There were a limited array of plants and species before reclaimation. As predicted, many types of native california plants such mallows, sages, grasses, attracted birds and insects.</p>
  </div>
  <div class="col-md-3"></div>
</div>


<div class="row gray">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade" class="pink" style="color: black" id=""><strong>Plants</strong></p>
      <p data-aos="fade" style="color: white" id="">Mallows, sages, yarrows, and other variety of large shrubs were planted around the parcel. These were carefully selected depending on the regions climate and exposure to the sun, soil drainage and other factors.  </p>
  </div>
  <div class="col-md-3"></div>
</div>


<div class="row bottomSpace gray">
  <div class="col col-md-2"></div>
  <div class="col-6 col-md-4 stuccoOne" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>

  <div class="col-6 col-md-4 stuccoThree" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-md-2 gray"></div>
</div>

<!--insects-->

<div class="row gray	">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade" class="pink" style="color: black" id=""><strong>Insects</strong></p>
      <p data-aos="fade" style="color: white" id="">Unexpected types of insects arrived to the sanctuary. Large cicadas, moths, spiders, butterflies are present throughout. Some in the day and some at night.</p>
  </div>
  <div class="col-md-3"></div>
</div>


<div class="row bottomSpace gray">
  <div class="col col-md-2"></div>
  <div class="col-6 col-md-4 stuccoOne" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>

  <div class="col-6 col-md-4 stuccoThree" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-md-2 gray"></div>
</div>

<!-- birds-->

<div class="row gray	">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade"  class="pink" style="color: black" id=""><strong>Birds</strong></p>
      <p data-aos="fade" style="color: white" id="">Migrating birds come to the sanctuary for food or breeding. Species such as the Goldfinch, California Scrubs, Humming birds, and Common Sparrows are typcical throughout the seasons. </p>
  </div>
  <div class="col-md-3"></div>
</div>


<div class="row bottomSpace gray">
  <div class="col col-md-2"></div>
  <div class="col-6 col-md-4 stuccoOne" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>

  <div class="col-6 col-md-4 stuccoThree" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-md-2 gray"></div>
</div>

<script type="text/javascript">
	AOS.init();
</script>
