<div class="row" id="canvas"></div>
<div id="content">
  <div id="planes">

    <div class="row topSpace">
      <div class="col-md-2 gray"></div>
      <div class="col-12 col-md-7 gray">
        <div class="habCont">
          <h3 id="" data-aos="fade">{{this.title}}</h3>
        </div>
      </div>
      <div class="col-md-3 gray"></div>
    </div>

    <!-- plants -->

    <div class="row bottomSpace">
      <div class="col-md-2 gray"></div>
      <div class="col-12 col-md-7 pink">
          <p data-aos="fade-up" style="color: black">There were a limited array of plants and species before reclaimation. As predicted, many types of native california plants such mallows, sages, grasses, attracted birds and insects.</p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row bottomSpace" id="heightDiv">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7">
        <p data-aos="fade-up" class="pink" style="color: black" id=""><strong>Plants</strong></p>
        <p data-aos="fade-up" class="gray" style="color: white" id="">Mallows, sages, yarrows, and other variety of large shrubs were planted around the parcel. These were carefully selected depending on the regions climate and exposure to the sun, soil drainage and other factors.</p>  
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgHabOne" crossorigin="anonymous" src="../images/stucco_2_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <!--insects-->

    <div class="row bottomSpace">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7">
          <p data-aos="fade-up" class="pink" style="color: black" id=""><strong>Insects</strong></p>
          <p data-aos="fade-up" class="gray" style="color: white" id="">Unexpected types of insects arrived to the sanctuary. Large cicadas, moths, spiders, butterflies are present throughout. Some in the day and some at night.</p>  
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="imgHabTwo" crossorigin="anonymous" src="../images/stucco_2_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <!-- birds-->

    <div class="row bottomSpace">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-7">
          <p data-aos="fade-up" class="pink" style="color: black" id=""><strong>Birds</strong></p>
          <p data-aos="fade-up" class="gray" style="color: white" id="">Migrating birds come to the sanctuary for food or breeding. Species such as the Goldfinch, California Scrubs, Humming birds, and Common Sparrows are typcical throughout the seasons. </p>  
          <div class="landscape-wrapper" >
              <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                <img id="" crossorigin="anonymous" src="../images/birds_1_1024.jpg" data-sampler="planeTexture" />
              </div>        
          </div>
      </div>
      <div class="col-md-3"></div>
    </div>


  </div>
</div>
<script src="/js/curtains.min.js"></script>
<script src="/js/post.processing.displacement.setup.js" ></script>
<script src="/js/inhabitants.js"></script>
<script src="/js/aos.js"></script>
<script type="text/javascript">
  AOS.init();
</script>