{{!-- <div class="row topSpace"></div>
<div class="row topSpace">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-7">
    <div class="habCont">
      <h3 id="" data-aos="fade">{{this.title}}</h3>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row bottomSpace">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-7 pink">
      <p data-aos="fade" style="color: black">A variety of tech and inovation is used to better understand the details of the garden, history and present state.</p>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row gray">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade" class="pink" style="color: black" id=""><strong>Humidity sensors</strong></p>
      <p data-aos="fade" style="color: white" id="">Depending on the soil drainage, multiple zones are monitored daily and real-time for humidity levels. Data is published to the Particle API where the server side determines whether or not to transmit text messages for early warnings of low levels of moisture.</p>
  </div>
  <div class="col-md-3"></div>
</div>



<div class="row bottomSpace gray">
  <div class="col col-md-2"></div>
  <div class="col-6 col-md-4 stuccoOne" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>

  <div class="col-6 col-md-4 stuccoThree" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-md-2 gray"></div>
</div>


<div class="row gray">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade" class="pink" style="color: black" id=""><strong>NFC Indentifiers</strong></p>
      <p data-aos="fade" style="color: white" id="">Each plant is looged into database and tracked with valuable information. Once inputed, each plant is given a Near Field Communication tag. This proximity technology lets the public access the information stored in the database. </p>
  </div>
  <div class="col-md-3"></div>
</div>



<div class="row bottomSpace gray">
  <div class="col col-md-2"></div>
  <div class="col-6 col-md-4 stuccoOne" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>

  <div class="col-6 col-md-4 stuccoThree" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-md-2 gray"></div>
</div>


<div class="row gray bottomSpace">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade" class="pink" style="color: black" id=""><strong>VR</strong></p>
      <p data-aos="fade" style="color: white" id="">Users can experience the history of the land/parcel from prehistoric times to present state in an emersive way.</p>
  </div>
  <div class="col-md-3"></div>
</div>


<div class="row gray bottomSpace">
  <div class="col-md-2 gray"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade" class="pink" style="color: black" id=""><strong>s17 Garden Dashboard</strong></p>
      <p data-aos="fade" style="color: white" id="">View real-time conditions of the garden using online web app. </p>
  </div>
  <div class="col-md-3"></div>
</div> --}}


<div class="row" id="canvas"></div>
<div id="content">
  <div id="planes">

  <div class="row topSpace">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-7">
      <div class="habCont">
        <h3 id="" data-aos="fade">{{this.title}}</h3>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row bottomSpace">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-7 pink">
        <p data-aos="fade" style="color: black">A variety of tech and inovation is used to better understand the details of the garden, history and present state.</p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-7">
        <p data-aos="fade" class="pink" style="color: black" id=""><strong>Humidity sensors</strong></p>
        <p data-aos="fade" style="color: white" id="">Depending on the soil drainage, multiple zones are monitored daily and real-time for humidity levels. Data is published to the Particle API where the server side determines whether or not to transmit text messages for early warnings of low levels of moisture.</p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row bottomSpace">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-7">  
      
        <div class="landscape-wrapper">
            <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
              <img id="imgRot" src="images/pinksky_1_1024.jpg" data-sampler="planeTexture" />
            </div>        
        </div>
  
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row gray">
    <div class="col-md-2 gray"></div>
    <div class="col-12 col-md-7 gray">
        <p data-aos="fade" class="pink" style="color: black" id=""><strong>NFC Indentifiers</strong></p>
        <p data-aos="fade" style="color: white" id="">Each plant is looged into database and tracked with valuable information. Once inputed, each plant is given a Near Field Communication tag. This proximity technology lets the public access the information stored in the database. </p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row gray bottomSpace">
    <div class="col-md-2 gray"></div>
    <div class="col-12 col-md-7 gray">
        <p data-aos="fade" class="pink" style="color: black" id=""><strong>VR</strong></p>
        <p data-aos="fade" style="color: white" id="">Users can experience the history of the land/parcel from prehistoric times to present state in an emersive way.</p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row gray bottomSpace">
    <div class="col-md-2 gray"></div>
    <div class="col-12 col-md-7 gray">
        <p data-aos="fade" class="pink" style="color: black" id=""><strong>s17 Garden Dashboard</strong></p>
        <p data-aos="fade" style="color: white" id="">View real-time conditions of the garden using online web app. </p>
    </div>
    <div class="col-md-3"></div>
  </div>

  </div>
</div>



<script type="text/javascript">
  AOS.init();
</script>

