<div class="row topSpace"></div>
<div class="row topSpace">
  <div class="col-md-3 gray"></div>
  <div class="col-12 col-md-6 gray">
    <div class="habCont">
      <h3 id="" data-aos="fade">{{this.title}}</h3>
    </div>
  </div>
  <div class="col-md-3 gray"></div>
</div>

<div class="row gray bottomSpace">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-7 gray">
      <p data-aos="fade" style="color: white">A variety of tech and inovation is used to better understand the details of the garden, history and present state.

</p>
  </div>
  <div class="col-md-3"></div>
</div>



<div class="row bottomSpace">
  <div class="col col-md-2"></div>
  <div class="col-6 col-md-4 stuccoOne" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/pinksky_1_1024.jpg" >
  </div>

  <div class="col-6 col-md-4 stuccoThree" >
    <img data-aos="fade" data-aos-delay="500" class="img-fluid" src="http://rudes.de/s17/spider_1_1024.jpg" >
  </div>
  <div class="col col-md-2 gray"></div>
</div>



<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="text/javascript">
	AOS.init();
</script>
