<div class="row" id=""></div>
<div id="content">
  <div id="planes">

      <div class="row topSpace">
        <div class="col-md-2 gray"></div>
        <div class="col-12 col-md-7">
          <div class="habCont">
            <h3 id="" data-aos="fade">{{this.title}}</h3>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row bottomSpace">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8 pink">
            <p data-aos="fade-up" style="color: black" data-aos-id="intPicOne" id="intCopyOne"></p>
        </div>
        <div class="col-md-2"></div>
      </div>


      <div class="row gray"  data-aos="fade-up" data-aos-id="intPicFour">
        <div class="col-md-2 gray" ></div>
        <div class="col-12 col-md-7 gray">
            <h1 class="hOnePublic pink" style="color: black" id="">360 Virtual Tour</h1>
            <p class="gray" style="color: white" id="intCopyFour"></p>
        </div>
        <div class="col-md-3"></div>
      </div>


        <div  data-aos="fade-up">
          <div class="row gray" id="liveBtn">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-7">
                <span style="color: white" class="bluGray">Subscribe for Live Events&#8594;</span>
            </div>
            <div class="col-md-3"></div>
          </div>


          <div class="row gray bottomSpace" id="virtualBtn">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-7">
                <span style="color: white" class="bluGray">Enter Virtual Tour&#8594;</span>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
{{!-- 
      <div class="row bottomSpace">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-7">  
          
            <div class="landscape-wrapper">
                <div class="plane" data-vs-id="multiple-planes-vs" data-fs-id="multiple-planes-fs">
                  <img id="imgIntOne" crossorigin="anonymous" src="../images/stucco_2_1024.jpg" data-sampler="planeTexture" />
                </div>        
            </div>
      
        </div>
        <div class="col-md-3"></div>
      </div> --}}


      <div class="row bottomSpace" data-aos="fade-up" data-aos-id="intPicTwo">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-5" >
            <h1 class="pink hOnePublic" style="color: black" id="">Humidity sensors</h1>
            <p class="gray" style="color: white" id="intCopyTwo"></p>
            <span style="color: white" id="levelsBtn" class="bluGray">View Current Levels&#8594;</span>
        </div>
        <div class="col-md-5"></div>
      </div>


      <div class="row gray bottomSpace" data-aos="fade-up" data-aos-id="intPicThree">
        <div class="col-md-2 gray" ></div>
        <div class="col-12 col-md-5 gray">
            <h1 class="pink hOnePublic" style="color: black" id="">NFC Plant Indentifiers</h1>
            <p class="gray" style="color: white" id="intCopyThree"></p>
        </div>
        <div class="col-md-5"></div>
      </div>

  </div>
</div>


<script src="/js/curtains.min.js"></script>
<script src="/js/post.processing.displacement.setup.js" ></script>
<script src="/js/interactive.js"></script>
<script src="/js/aos.js"></script>
<script type="text/javascript">
  AOS.init({
    duration: 1000,
    easing: 'ease-in-out-quad', 
    once: true,
    mirror: false
  });
</script>

