<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>s17{{#if title}} - {{title}}{{/if}}</title>
        <meta name="description" content="" />

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/components/modal/">
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' /> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/aos.css" />
        <script src="/js/aos.js"></script>
        
    </head>

    <body class="container-fluid">
        
        <div id="page">

            {{#if firstName}}
            <div id="greeting" class="row head">
            	<h3>s17</h3><h1 class="rtSpacer">Hi, {{firstName}}!</h1>
            	<a href="/users/logout" class="btn btn-link linkcolor">Log out</a>
                <a href="/plants/create" class="btn btn-link linkcolor">Add plant</a>
            </div>
            {{/if}}		

				<!-- BEGIN page-specific content -->
				{{{body}}}		
				<!-- END page-specific content -->
								

        </div>
        {{#if nav}}
            <div class="header nav" id="myHeader">
                <a href="/"><div class="fasLogo"></div></a>
                <ul>
                  <li><a href="javascript:void(0);" onclick="openNav()" class="burger">☰</a></li>
                </ul>
            </div>
            <!-- open/close -->
            <!-- The overlay -->
            <div id="myNav" class="overlay">

              <!-- Button to close the overlay navigation -->
              

              <!-- Overlay content -->
              <div class="overlay-content">
 {{!--                <a href="#"><h3>Story</h3></a> --}}
                <a href="/Inhabitants"><h3>Inhabitants</h3></a>
                <a href="/formation"><h3>Formation</h3></a>
                <a href="/interactive"><h3>Interactive</h3></a>
                <a href="/emails/join"><h3>Subscribe</h3></a>
                {{!-- <a href="mailto:rrudy90023@gmail.com"><h3>Contact</h3></a> --}}
              </div>
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <script type="text/javascript">

                document.addEventListener("DOMContentLoaded", function() {
                  //sticky header
                  window.onscroll = function() {myFunction()};
                  // Get the header
                  // Get the offset position of the navbar
                  var header = document.getElementById("myHeader");
                  var imgRot = document.getElementById("imgRot");
                  var sticky = header.offsetTop;
                  // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
                  function myFunction() {
                    if (window.pageYOffset > sticky) {
                        header.classList.add("sticky");
                    } else {
                        header.classList.remove("sticky");
                    }
                    if(window.scrollY >= 500) { 
                        imgRot.src = "http://rudes.de/s17/pinksky_1_1024.jpg";
                        imgRot.crossOrigin = "anonymous";
                        // catImg.style.display = "none";
                        // spiderImg.style.display = "block";
                        // ladyImg.style.display = "block";
                        
                    } else {
                        imgRot.src = "http://rudes.de/s17/stucco_3_1024.jpg";
                        imgRot.crossOrigin = "anonymous";
                        // spiderImg.style.display = "none"
                        // catImg.style.display = "block";
                        // hopperImg.style.display = "block";
                        // ladyImg.style.display = "none";
                        
                    }
                  }
                  
                });

                function openNav() {
                  document.getElementById("myNav").style.display = "block";
                  console.log("open");
                }

                /* Close */
                function closeNav() {
                  document.getElementById("myNav").style.display = "none";
                  console.log("close");
                }

            </script>

            <script id="multiple-planes-vs" type="x-shader/x-vertex">
                #ifdef GL_ES
                precision mediump float;
                #endif

                // default mandatory variables
                attribute vec3 aVertexPosition;
                attribute vec2 aTextureCoord;

                uniform mat4 uMVMatrix;
                uniform mat4 uPMatrix;

                uniform mat4 planeTextureMatrix;
                varying vec2 vTextureMatrix;
                // custom variables
                varying vec3 vVertexPosition;
                varying vec2 vTextureMatrixCoord;

                uniform float uTime;

                uniform float uPlaneDeformation;

                void main() {

                    vec3 vertexPosition = aVertexPosition;

                    // float distanceFromCenter = distance(vec2(vertexPosition.x, vertexPosition.y), vec2(0.5, vertexPosition.x));
                    // vertexPosition.z += 1.5 * cos(5.0 * (distanceFromCenter - (uTime / 100.0)));

                    //cool effect on scroll
                    //vertexPosition.y += sin(((vertexPosition.x + 1.0) / 2.0) * 3.141592) * (sin(uPlaneDeformation / 90.0));

                    gl_Position = uPMatrix * uMVMatrix * vec4(vertexPosition, 1.0);

                    // varyings
                    vVertexPosition = vertexPosition;
                    vTextureMatrixCoord = (planeTextureMatrix * vec4(aTextureCoord, 1.0, 1.0)).xy;
                }

            </script>
            <script id="multiple-planes-fs" type="x-shader/x-fragment">
                #ifdef GL_ES
                precision mediump float;
                #endif

                varying vec3 vVertexPosition;
                varying vec2 vTextureCoord;
                varying vec2 vTextureMatrixCoord;
                varying vec2 vTextureMatrix;

                uniform sampler2D uSampler0;
                uniform sampler2D planeTexture;
                uniform float uPlaneDeformation;

                void main( void ) {
                    // slides transitions
                    //vec4 finalColor = texture2D( uSampler0, vTextureMatrix);

                    vec4 finalColor = texture2D(planeTexture, vTextureMatrixCoord);

                    gl_FragColor = finalColor;
                }
            </script>


            <script id="displacement-fs" type="x-shader/x-fragment">
                #ifdef GL_ES
                precision mediump float;
                #endif

                varying vec3 vVertexPosition;
                varying vec2 vTextureCoord;

                uniform sampler2D renderTexture;
                uniform sampler2D displacementTexture;

                uniform float uDisplacement;

                void main( void ) {
                    vec2 textureCoords = vTextureCoord;
                    vec4 displacement = texture2D(displacementTexture, textureCoords);

                    // displace along Y axis
                    textureCoords.y += (sin(displacement.r) / 5.0) * uDisplacement;

                    vec4 finalColor = texture2D(renderTexture, textureCoords);
                    gl_FragColor = finalColor;
                }
            </script>

        {{/if}}

        {{#if intro}}
            <div class="introCopy">
                <div class="introParent">
                    <div>
                        <h1>ECO-</h1>
                    </div>
                    <div id="wordRotate">
                        <h1>INFORM</h1>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var textSwap = document.getElementById("wordRotate");
                var introCont = document.querySelector(".introCopy");
                //var cookieVar = document.cookie;
                console.log(document.cookie);

                function initAos() {
                    AOS.init();
                };
                // intro copy change
                if ( document.cookie ){
                    introCont.style.display = "none";
                    initAos();
                } else {
                    setTimeout(function(){
                        textSwap.querySelector("h1").innerHTML = "PROTECT";
                    },1000);
                    setTimeout(function(){
                        textSwap.querySelector("h1").innerHTML = "FIRST";
                    },2000);
                    setTimeout(function(){
                        introCont.classList.add("intro-scale");
                        document.cookie = "visited=true";
                    },4000);
                    initAos();
                }
            </script>

        {{/if}}

        {{#if footer}}
        <footer class="row topSpace">
          <div class="col-12">
            <div class="footCopy">
              <h3 class="">s17 ©MMXIX</h3>
              <h3 class=""></h3>
            </div>
          </div>
        </footer>
        {{/if}}

        <script src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/js/curtains.min.js"></script>
        <script src="/js/post.processing.displacement.setup.js" ></script>
    </body>
</html>