<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>3437 Garden{{#if title}} - {{title}}{{/if}}</title>
        <meta name="description" content="" />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div id="page" class="container">

            {{#if firstName}}
            <div id="greeting" class="row head">
            	<h1 class="rtSpacer">Hi, {{firstName}}!</h1>
            	<a href="/users/logout" class="btn btn-link linkcolor">Log Out</a>
            </div>
            {{/if}}
							

				<!-- BEGIN page-specific content -->
				{{{body}}}		
				<!-- END page-specific content -->
								

	        <footer id="colophon" role="contentinfo">

	        </footer>
        </div>        
    </body>
</html>