<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>s17{{#if title}} - {{title}}{{/if}}</title>
        <meta name="description" content="" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/components/modal/">
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' /> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="/js/aos.js"></script> 
    </head>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
          //sticky header
          window.onscroll = function() {myFunction()};
          // Get the header
          var header = document.getElementById("myHeader");
          var spiderImg = document.getElementById("spiderImg");
          var hopperImg = document.getElementById("hopperImg");
          var ladyImg = document.getElementById("ladyImg");
          var catImg = document.getElementById("catImg");
          // Get the offset position of the navbar
          var sticky = header.offsetTop;
          // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
          function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
            // if(window.scrollY >= 700) { 
            //     // hopperImg.style.display = "none";
            //     // catImg.style.display = "none";
            //     // spiderImg.style.display = "block";
            //     // ladyImg.style.display = "block";
                
            // } else {
            //     // spiderImg.style.display = "none"
            //     // catImg.style.display = "block";
            //     // hopperImg.style.display = "block";
            //     // ladyImg.style.display = "none";
                
            // }
          }
          
        });
    </script>

    <body class="container-fluid">
        <div id="page">

            {{#if firstName}}
            <div id="greeting" class="row head">
            	<h3>s17</h3><h1 class="rtSpacer">Hi, {{firstName}}!</h1>
            	<a href="/users/logout" class="btn btn-link linkcolor">Log out</a>
                <a href="/plants/create" class="btn btn-link linkcolor">Add plant</a>
            </div>
            {{/if}}		

				<!-- BEGIN page-specific content -->
				{{{body}}}		
				<!-- END page-specific content -->
								

        </div>
        {{#if nav}}
            <div class="header nav" id="myHeader">
                <a href="/"><div class="fasLogo"></div></a>
                <ul>
                  <li><a href="javascript:void(0);" onclick="openNav()" class="burger">☰</a></li>
                </ul>
            </div>
            <!-- open/close -->
            <!-- The overlay -->
            <div id="myNav" class="overlay">

              <!-- Button to close the overlay navigation -->
              

              <!-- Overlay content -->
              <div class="overlay-content">
                <a href="/Inhabitants"><h3>Story</h3></a>
                <a href="/Inhabitants"><h3>Inhabitants</h3></a>
                <a href="/Inhabitants"><h3>Formation</h3></a>
                <a href="/emails/join"><h3>Interactive</h3></a>
                {{!-- <a href="mailto:rrudy90023@gmail.com"><h3>Contact</h3></a> --}}
              </div>
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <script type="text/javascript">
                function openNav() {
                  document.getElementById("myNav").style.display = "block";
                  console.log("open");
                }

                /* Close */
                function closeNav() {
                  document.getElementById("myNav").style.display = "none";
                  console.log("close");
                }
            </script>


        {{/if}}

        {{#if intro}}
            <div class="introCopy">
                <div class="introParent">
                    <div>
                        <h1>ECO-</h1>
                    </div>
                    <div id="wordRotate">
                        <h1>INFORM</h1>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var textSwap = document.getElementById("wordRotate");
                var introCont = document.querySelector(".introCopy");
                //var cookieVar = document.cookie;
                console.log(document.cookie);

                function initAos() {
                    AOS.init();
                };
                // intro copy change
                if ( document.cookie ){
                    introCont.style.display = "none";
                    initAos();
                } else {
                    setTimeout(function(){
                        textSwap.querySelector("h1").innerHTML = "PROTECT";
                    },1000);
                    setTimeout(function(){
                        textSwap.querySelector("h1").innerHTML = "FIRST";
                    },2000);
                    setTimeout(function(){
                        introCont.classList.add("intro-scale");
                        document.cookie = "visited=true";
                    },4000);
                    initAos();
                }

                //buttons on homepage
                var subBtn = document.getElementById("subscribeBtn");
                var inHabitBtn = document.getElementById("inHabitBtn");
                var formBtn = document.getElementById("formBtn");
                var interABtn = document.getElementById("interABtn");

                // inhabitants button mouse events
                function handleInhabits(evt) {
                    evt.preventDefault();
                    window.open("/inhabitants", '_self');
                }

                function overInhabits(evt) {
                    evt.preventDefault();
                }

                function outInhabits(evt) {
                    evt.preventDefault();
                }

                inHabitBtn.addEventListener('touchstart', handleInhabits);
                inHabitBtn.addEventListener('click', handleInhabits);
                inHabitBtn.addEventListener('mouseover', overInhabits);
                inHabitBtn.addEventListener('mouseout', outInhabits);

                // subscribe button mouse events
                // function handleInit(evt) {
                //     evt.preventDefault();
                //     window.open("emails/join", '_self');
                // }

                // function overInit(evt) {
                //     evt.preventDefault();
                // }

                // function outInit(evt) {
                //     evt.preventDefault();
                // }

                // subBtn.addEventListener('touchstart', handleInit);
                // subBtn.addEventListener('click', handleInit);         
                // subBtn.addEventListener('mouseover', overInit);
                // subBtn.addEventListener('mouseout', outInit);

                // formation button mouse events
                function handleForm(evt) {
                    console.log("hello")
                    evt.preventDefault();
                    window.open("/formation", '_self');
                }

                function overForm(evt) {
                    evt.preventDefault();
                }

                function outForm(evt) {
                    evt.preventDefault();
                }

                formBtn.addEventListener('touchstart', handleForm);
                formBtn.addEventListener('click', handleForm);         
                formBtn.addEventListener('mouseover', overForm);
                formBtn.addEventListener('mouseout', outForm);

                //interactive button mouse events
                function handleInterA(evt) {
                    evt.preventDefault();
                    window.open("/interactive", '_self');
                }

                function overInterA(evt) {
                    evt.preventDefault();
                }

                function outInterA(evt) {
                    evt.preventDefault();
                }

                interABtn.addEventListener('touchstart', handleInterA);
                interABtn.addEventListener('click', handleInterA);         
                interABtn.addEventListener('mouseover', overInterA);
                interABtn.addEventListener('mouseout', outInterA);
            </script>

        {{/if}}


         


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         
    </body>
</html>