<div class="row" id=""></div>
<div id="content">
  <div id="planes">

  <div class="row topSpace">
    <div class="col-md-2 gray"></div>
    <div class="col-12 col-md-7">
      <div class="habCont">
        <h3 data-aos="fade">{{this.title}}</h3>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>





    <div class="row" data-aos="fade">
        <div class="col-md-1"></div>
            <div class="col-12 col-md-10">
                <iframe class="cutFrame" width="100%" height="480px" src="https://poly.google.com/view/5f5YySH-luM/embed?chrome=min" frameborder="0" style="border:none" scrolling="no" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" ></iframe>
            </div>
        <div class="col-md-1"></div>
    </div>



      <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-7">  
          
            <div class="landscape-wrapper" data-aos="fade-up">
     
            </div>
      
        </div>
        <div class="col-md-3"></div>
      </div>


  </div>
</div>


<script src="/js/curtains.min.js"></script>
<script src="/js/post.processing.displacement.setup.js" ></script>
<script src="/js/tour.js"></script>
<script src="/js/aos.js"></script>
<script type="text/javascript">
  AOS.init({
    once:true
  });
</script>

