@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
body {
/*text-transform: uppercase;*/
font-weight: 400;
top: 0;
left: 0;
width: 100%;
height: auto;
font-family: 'Playfair+Display', serif;
/*text-align: center;*/
background-color: lightgray;
margin: 0;
}

.material-icons.md-36 { 
font-size: 36px; 
}

.headTop {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
text-align: center;
margin: 0 auto;
min-height: 200px;
align-items: center;
}

.titleHead {
font-size: 20vw;
position: absolute;
color: black;	
}


.editIcons {
position: relative;
top: 10px;
margin-right: 10px;
}

.addIcons {
position: relative;
}	

video {  
width:100%; 
max-width:100%; 
height:auto; 
}

.deleteIcon {
background: url('../fonts/baseline-delete-24px.svg') no-repeat;
width: 36px;
height: 36px;
position: relative;
background-color: #dc3545;
background-position: 26px 8px;
background-size: 36px 36px;
}


.addPlant div {
display: inline-block;
}

.lead {
font-style: italic; 
}

textarea {
white-space: pre-line;	
}

h3, h4, h5, label {
font-family: 'Oswald', sans-serif;
text-transform: capitalize;
}

h1, h2 {
text-transform: uppercase;
font-family: 'Oswald', sans-serif;	
margin-right: 0;
margin-left: 0!important;
}

input {
font-family: 'Playfair+Display', serif;
}

p, a, span {
font-family: 'Playfair+Display', serif;
}

.jumbotron-fluid, .container-fluid {
padding: 0;
margin: 0;
width: 100vw;
height: 100vh;
}

.adminContainer {
padding: 15px;
}

.modal-content, textarea {
border-radius: 0!important;	
}

.modal-body {
white-space: pre-line!important;
}
.plantlabel {
cursor: pointer;
height: auto;
background-color: white;
position: absolute;
bottom: 0;
padding: 15px;
}

.plantlabel h1, h2, span, hr{
/*padding: 15px;*/
}

.linkcolor {
color: black!important;
background: white!important;
}

.closeIcon {
cursor: pointer;	
}

.iconLink{
background: transparent!important;
text-decoration: none!important;	
}

.launchIcon {
top: 13px;
position: relative;
left: 6px;
}

.infoIcon {
position: relative;
}


hr, .mt-4, .my-4 {
margin: 0!important;	
}

a:link {
/*font-size: 20px;
font-weight: 400;*/
-webkit-box-shadow: none;
box-shadow: none;
color: black;
border-radius: 0px;
background: transparent;
}

a:visited {
/*font-size: 20px;
font-weight: 400;*/
-webkit-box-shadow: none;
box-shadow: none;
color: black;
border-radius: 0px;
background: transparent;
}

a:hover {
/*font-size: 20px;
font-weight: 400;*/
-webkit-box-shadow: none;
box-shadow: none;
color: black;
border-radius: 0px;
background: transparent;
}

a:active {
/*font-size: 20px;
font-weight: 400;*/
-webkit-box-shadow: none;
box-shadow: none;
color: black;
border-radius: 0px;
background: transparent;
}

.btn, input {
border-radius: 0px!important;
}

.form-signin {
max-width: 330px;
padding: 15px;
margin: auto;
right: 0;
left: 0;
bottom: 0;
top: 0;
position: absolute;
height: 310px;
}

.form-signin label {
font-size: 20px
}

.form-control {
margin-bottom: 15px;
}

.addy {
width: 100%;
display: flex;
margin-bottom: 20px;
}


.addy div {
margin-right: 30px;
}

.addyList {
width: 100%;
display: flex;
margin-bottom: 20px;
}


.addyList input, .addyList a {
width: 90px;
height: 55px;
margin-right: 30px;
}

.addyList a {
background: #ffbf00;	
}

.cookieCrumb {
text-transform: uppercase;
font-size: 28px!important;
/*text-decoration: underline;*/
}

.head {
width: 100%;
position: relative;
display: inline-block;
text-align: right;
margin: 0 auto;
padding: 15px;
}
.head h1{
}

label {
font-size: 20px;
}

.spacer {
margin-bottom: 20px;
border-radius: 0px!important;
background: #ffbf00!important;
}

.rtSpacer {
margin-right: 10px;
}
.form-submit input{
color: black;
}

.alert-style {
border-radius: 0px!important;
font-size: 20px;
font-weight: 400;
}
