<div class="oneOfus topSpace">
	<h1>You are now one of us, {{input.firstName}}.<h1>
	<p style="color:white">You will be notified on future events.</p>
	<span style="color:red">{{error}}</span>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169661693-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169661693-1');
</script>