<div class="oneOfus topSpace">
	<h1>You are now one of us, {{input.firstName}}.<h1>
	<p style="color:white">You will be notified on future events.</p>
	<span style="color:red">{{error}}</span>
</div>
