<div class="adminContainer">
	<h2>Current Inventory</h2>
	{{#each plantlist}}
	<h5>{{this.plantname}}</h5>
		<div class="addyList">
				<div>
				<a href="/plants/{{this.id}}/edit" class="btn btn-default btn-lg btn">
					{{!-- <span>Edit</span> --}}
					<i class="material-icons md-36">edit</i>
				</a>
				</div>
				<div>
				<a href="/plants/{{this.id}}/view" class="btn btn-default btn-lg btn">
					{{!-- <span>View</span> --}}
					<i class="material-icons md-36">pageview</i>
				</a>
				</div>
				<div>
				<form method="POST" action="/plants/{{this.id}}?method=DELETE">
						<input class="deleteIcon" type="submit" name="delete" value="" />
				</form>
				</div>
		</div>
	{{/each}}
</div>

