<a href="/plants/create" class="btn btn-lg btn">Add plant to garden</a>

{{#each plantlist}}

	<div class="addy">
		<h3>{{this.plantname}}</h3>

			<a href="/plants/{{this.id}}/edit" class="btn btn-default btn-lg btn">Edit Details</a>
			<a href="/plants/{{this.id}}/view" class="btn btn-default btn-lg btn">View Plant</a>
	</div>

{{/each}}
